@font-face {
    font-family: wms2;
    src: url(./wms2.ttf);
}

*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
  background-color: maroon;
  color: #A55D35;
  background-image: url("./images/broadway_bound.jpeg");
  background-size: 100% 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a { color: #00B7FF; }


#heading-text {
  font-family: wms2;
  color: #66CCFF;
}

#container {
  position: fixed;
}
